body {
	background-color: peachpuff;
}

button {
	display: inline-block;
	width: 200px;
	height: 50px;
	padding: 0px;
	border: 0px;
}

.bttn-container {
	width: 620px;
	margin: 10vh auto;
}

.display {
	width: 60vw;
	height: 60vh;
	background-color: cornflowerblue;
	margin: 0 auto;
	margin-top: 50px
}